@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

/* STARTING MAIN SETTINGS */
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  /* background-color: rgba(42, 42, 42, 0.685); */
  color: rgb(0, 0, 0);
}
html {
  /* background-color: rgb(16 15 15 / 79%); */
  font-family: "Roboto", sans-serif;
}

/* END MAIN SETTINGS */

/* .container {
  padding: 0px 50px 0px 50px;
} */
/* STARTING BACKGROUND VIDEO  */
.bg-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bg-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 90vh; */
  width: 100%;
  background-size: contain;
  z-index: -2;
}

.landing {
  padding: 15px 20px 5px 20px;
  /* margin: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7777778b;
  border-bottom: 1px solid white;
  /* border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
}

.lead-heading {
  margin: 70px;
  padding: 15px;
}
.landing header h1 {
  font-style: italic;
  padding: 5px;
  color: white;
  font-size: 35px;
  border: 1px solid white;
  letter-spacing: 2px;
}
.landing header h1 i {
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 3px white;
}

nav {
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
@keyframes footerAnimation {
  0% {
    background-position: top left;
  }

  100% {
    background-position: right bottom;
  }
}
nav ul li a:hover {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  transform: scale(1.2, 1.2);
  background: linear-gradient(
    23deg,
    #e66464ac,
    #9198e5a0,
    #e66464ac,
    #9198e5a0
  );
  transition: 0.5s;
  padding: 8px;
  animation: footerAnimation 5s linear infinite;
}

.picAndText {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 20px 0px 20px;
}

@keyframes MovingPicture {
  0% {
    transform: translateY(0px);
  }
  /* 25% {
    transform: translateY(-15px);
  }

  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(15px);
  } */
  100% {
    transform: translateY(100px);
  }
}

.picAndText img {
  border-radius: 50%;
  width: 450px;
  box-shadow: rgba(255, 255, 255, 0.559) 2px 4px 7px 0px;
  animation: MovingPicture 2s ease-in-out infinite;
}

.picAndText .heading-text h1 {
  font-size: 70px;
  margin-top: 30px;
  letter-spacing: 2px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: -4px 2px 1px white;
}
.picAndText .heading-text p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: right;
  line-height: -1px;
  color: white;
  margin-top: -10px;
}

/* END BACKGROUND VIDEO  */

/* starting services section  */
.lead-heading h2 {
  font-size: 80px;
  text-align: center;
  color: #77777787;
}
.lead-heading p {
  letter-spacing: 2px;
  text-align: center;
  margin-top: -15px;
  line-height: -3;
}

.cards-services {
  width: 90%;
  margin: 5px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-wrap: wrap;  ONLY WHEN @MEDIA EFFECTS APPLY*/
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card h3 {
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.card i {
  font-size: 150px;
  margin: 28px;
  padding: 5px;
  text-align: center;
}

.card p {
  width: 80%;
  text-align: center;
  font-size: 17px;
}

/* end services section  */

/* starting footer section  */

footer {
  width: 100vw;
  margin-top: 50px;
  padding: 30px 0px;
  background: linear-gradient(
    23deg,
    #e66464ac,
    #9198e5a0,
    #e66464ac,
    #9198e5a0
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-size: 400% 200%;
  animation: footerAnimation 5s linear infinite;
}

footer .form {
  width: 30%;
}
footer .form h4 {
  text-align: left;
  font-size: 25px;
  margin: 10px;
  color: #000000b7;
}
footer .form input {
  margin: 10px;
  border: none;
  outline: none;
  width: 80%;
  padding: 20px;
  text-align: center;
  color: red;
}

footer .link {
  width: 30%;
}

footer .link h4 {
  text-align: left;
  font-size: 25px;
  margin: 10px;
  color: #000000b7;
}

footer .link ul li {
  list-style-type: none;
  margin: 10px;
}

footer img {
  width: 150px;
}

/* end footer section  */

/* START MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media only screen and (max-width: 700px) {
  .landing header h1 {
    color: #ff6b08;
  }

  .heading-text h1 {
    text-shadow: -4px 2px 1px #ff6b08;
  }
  .landing {
    padding: 15px 20px 5px 20px;
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #7777778b;
    border-bottom: 1px solid white;
    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
  }

  nav {
    width: 90%;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  nav ul li a {
    margin: 10px 0px;
  }

  .picAndText .heading-text h1 {
    color: #ff6b08;
    font-size: 50px;
    margin-top: -28px;
    text-align: center;
  }
  .picAndText img {
    border-radius: 50%;
    width: 350px;
  }

  .cards-services {
    margin: 5px auto;
    flex-direction: column;
    /* flex-wrap: wrap;  ONLY WHEN @MEDIA EFFECTS APPLY*/
  }

  footer {
    margin-top: 30px;
    padding: 50px 0px;
    flex-direction: column;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-wrap: wrap;
  }
}
/* END MEDIA QUERIES FOR RESPONSIVE DESIGN */
