.main-table {
  margin: 15px 30px;
  padding: 10px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-table #services {
  border-collapse: collapse;
  width: 90%;
  border-radius: 15px;
  overflow-x: auto;
}

#services td,
#services th {
  border: 1px solid #ddd;
  padding: 8px;
}

#services tr:nth-child(even) {
  background-color: #f2f2f2;
}

#services tr:hover {
  background-color: #ddd;
}

#services th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6c7ae0;
  color: white;
}
